{% extends "admin/base.html.twig" %}

{% block body %}
<div class="dashboard__title">
    {{ icon('user') }}
    {% trans %}Gestion des utilisateurs{% endtrans %}
</div>
<div class="dashboard__card">
    <div class="dashboard__header">
        {#<form class="dashboard__search form__search">
            <input type="text" name="q" placeholder="Rechercher un produit">
        </form>#}
        {{ form_start(form, { 'attr' : { 'class' : 'dashboard__search form__search'} })}}
        {{ form_end(form)}}
        <a href="{{ path('admin_user_new')}}" class="btn">{% trans %}Ajouter un utilisateur{% endtrans %}</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>{% trans %}Id{% endtrans %}</th>
                <th>{% trans %}Pseudo{% endtrans %}</th>
                <th>{% trans %}Email{% endtrans %}</th>
                <th>{% trans %}Rôle(s){% endtrans %}</th>
                <th>{% trans %}Date de creation{% endtrans %}</th>
                <th>{% trans %}Date de modification{% endtrans %}</th>
                <th>{% trans %}Actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td><a href="{{ path('admin_user_edit', {id: user.id}) }}">{{ user.id }}</a></td>
                <td><a href="{{ path('admin_user_edit', {id: user.id}) }}">{{ user.pseudo }}</a></td>
                <td><a href="{{ path('admin_user_edit', {id: user.id}) }}">{{ user.email }}</a></td>
                <td>
                    {% for role in user.roles %}
                    {% if role == "ROLE_ADMIN" %}
                    Administrateur
                    {% elseif role == "ROLE_USER" %}
                    Utilisateur
                    {% endif %}
                    {% endfor %}
                </td>
                <td>{{ user.createdAt | date('d F Y') }}</td>
                <td>{{ user.updatedAt | date('d F Y H:i') }}</td>
                <td>
                    <div class="dashboard__actions">
                        <a href="{{ path('admin_user_edit', {id: user.id}) }}">{{ icon('edit')}}</a>
                        <form method="POST" action="{{ path('admin_user_delete', {id: user.id}) }}" onsubmit="return confirm({% trans %}'Etes-vous sur de supprimer ce compte ?'{% endtrans %})">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
                            <button>{{ icon('trash')}}</button>
                        </form>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ knp_pagination_render(users) }}
</div>

{% endblock %}