{% extends 'base.html.twig' %}

{#% block title %}Mot de passe oublié{% endblock %}

{% block body %}
    <h1>Mot de passe oublié</h1>
    {{ form(emailForm) }}
    <a href="{{ path('security_login') }}"></a>
{% endblock %#}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}

    <form action="{{ path('app_forgotten_password')}}" class="form" >
        <h1>Mot de passe oublié?</h1>
        <div class="form__group">
            <input type="email" class="form__control"  name="email" id="inputEmail" placeholder="Adresse mail" required autofocus>
            <label for="inputEmail">{{ icon('email') }}</label>
        </div>
            <a href="{{ path('app_forgotten_password')}}">Entrez votre adresse email ci-dessus</a>
            <button type="submit" class="btn__submit btn__text">Envoyez{{ icon('arrow_right') }}</button>

    </form>
{% endblock %}



        {#<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">#}

        {# Uncomment this section and add a remember_me option below your firewall to activate remember me functionality. See https://symfony.com/doc/current/security/remember_me.html
        <div>
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
        #}

