{% extends "base.html.twig" %}

{% block title 'Réinitialisation de votre mot de passe' %}

{% block body %}
<div class="form__container">
    {% if error %}
    <alert-message>
        {{ error.messageKey | trans(error.messageData, 'security') }}
    </alert-message>
    {% endif %}
    
    <form class="form" method="post">
        {{ form_start(form) }}
        <div class="form__group">
            <label for="inputPassword">Nouveau mot de passe</label>
            {{ form_widget(form.password.first, {attr : {class: 'form__control', 'autofocus': 'autofocus'}})}}
            {{ form_errors(form.password.first) }}
        </div>
        <div class="form__group">
            <label for="inputPasswordConfirm">Confirmation nouveau mot de passe</label>
            {{ form_widget(form.password.second, {attr : {class: 'form__control'}})}}
            {{ form_errors(form.password.second) }}
        </div>
        <div class="form__btn">
            <button type="submit" class="btn__submit">Réinitialiser mon mot de passe</button>
        {#<a href="{{ path('security_login') }}">Retour</a>#}
        </div>
        {{ form_end(form) }}
    </form>
</div>

{% endblock %}