{% extends "base.html.twig" %}

{% block body %}
{{ form_start(form, { 'attr' : { 'class' : 'form'}})}}
<h1>S'inscrire</h1>
{{ form_errors(form.email) }}
<div class="form__group">
    {{ form_widget(form.email, { 'attr' : { 'class' : 'form__control'}})}}
    <label for="inputEmail">{{ icon('email') }}</label>
</div>
{{ form_errors(form.password) }}
<div class="form__group">
    {{ form_widget(form.password, { 'attr' : { 'class' : 'form__control'} } ) }}
    <label for="inputPassword">{{ icon('password') }}</label>
</div>
<a href="{{ path('security_login')}}">Vous avez un compte ? Connectez-vous</a>
<button type="submit" class="btn__submit btn__text">S'incrire{{ icon('arrow_right') }}</button>
{{ form_end(form)}}
{% endblock %}