{% extends "base.html.twig" %}

{% block body %}

{{ form_start(form, { 'attr' : { 'class' : 'form' }} ) }}

<h1>S'incrire</h1>

<div class="form__group">
    <label for="inputPseudo">Nom d'utilisateur</label>
    {{ form_widget(form.pseudo, {'attr' : { 'class' : 'form__control' }})}}
    {{ form_errors(form.pseudo) }}
</div>

{{ form_errors(form.email) }}
<div class="form__group">
    <label for="inputEmail">Adresse mail</label>
    {{ form_widget(form.email, {'attr' : { 'class' : 'form__control' }})}}
    {{ form_errors(form.email) }}
</div>

{{ form_errors(form.password) }}
<div class="form__group">
    <label for="inputPassword">Mot de passe</label>
    {{ form_widget(form.password, { 'attr' : { 'class' : 'form__control' } }) }}
    {{ form_errors(form.password) }}
</div>

{{ form_errors(form.confirm_password) }}
<div class="form__group">
    <label for="inputPassword">Confimer mot de passe</label>
    {{ form_widget(form.confirm_password, { 'attr' : {'class' : 'form__control'} })}}
    {{ form_errors(form.confirm_password) }}
</div>

{{ form_errors(form.image.file) }}
<div class="">
<label for="inputImage">Télécharger une image</label>
    {{ form_widget(form.image.file, { 'attr' : { 'class' : 'form__control'} } ) }}
</div>

{{ form_rest(form) }}

<a href="{{ path('security_login')}}">Vous avez un compte ? Connectez-vous</a>
<button type="submit" class="btn__submit">S'incrire</button>
{{ form_end(form) }}
{% endblock body %}