<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Fresh Food{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500,700|Roboto:300,400&display=swap" rel="stylesheet">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    {% block javascripts %}
        {{ encore_entry_script_tags('app')}}
    {% endblock %}
</head>

<body>
    <nav class="nav">
        <ul class="nav__menu">
            {% if app.user %}
            <li class="nav__home {{ app.request.get('_route') == 'index' ? 'active' }}">
                <a href="{{ path('index') }}" title="Accueil">{{ icon('home') }}</a>
            </li>
            <li class="{{ app.request.get('_route') == 'products_index' ? 'active' }}">
                <a href="{{ path('products_index')}}">{{ icon('bags') }} Produits</a>
            </li>
            {% else %}

            {% endif %}
        </ul>
        <ul class="nav__side">
            {% if app.user %}
                <li class="nav__account"><a href="{{ path('security_logout') }}" title="Se déconnecter">{{ icon('door') }} {{ app.user.username }}</a></li>    
            {% else %}
                <li class="nav__account {{ app.request.get('_route') == 'security_login' ? 'active' }}"><a href="{{ path('security_login') }}">{{ icon('user') }} Se connecter</a></li>
            {% endif %}
        </ul>
        <button class="nav__burger">
            <span></span>
        </button>
    </nav>
    {% for label, messages in app.flashes %} 
        {% for message in messages %}
        <div class="{{ label }}">
            {{ message }}
        </div>
        {% endfor %} 
    {% endfor %}
    <div class="container">
        {% block body %}{% endblock %} 
    </div>  
    
</body>
</html>