{% extends "base.html.twig" %}

{% block body %}
{% for label, messages in app.flashes %}
{% for message in messages %}
<div class="{{ label }}">
    {{ message }}
</div>
{% endfor %}
{% endfor %}
<h1>{{'product.index.title' | trans }}</h1>
<a href="{{ path('product_new') }}">{{'product.action.new' | trans }}</a>
{% for product in products %}
<ul>
    <li>{{ product.name }}</li>
    <a href="{{ path('product_show', { id: product.id }) }}">{{'product.action.see' | trans }}</a>
</ul>

{% endfor %}
{% endblock body %}