{% extends 'base.html.twig' %}

{% block title %}{% trans %}Contactez-nous{% endtrans %}{% endblock %}

{% block body %}

    {% if not formContact.vars.valid %}
        <div class='alert alert-danger' duration="6">
            {% trans %}Le formulaire contient une erreur !{% endtrans %}
        </div>
    {% endif %}

    <h1>{% trans %}Contactez-nous{% endtrans %}</h1>

    {{ form_start(formContact, { 'attr' : { 'class' : 'form' }} ) }}
        
        {{ form_errors(formContact.pseudo) }}
        <div class="form__group">
            <label for="inputName">{% trans %}Pseudo{% endtrans %}</label>
            {{ form_widget(formContact.pseudo, { 'attr' : { 'class' : 'form__control'}}) }}
        </div>

        {{ form_errors(formContact.email) }}
        <div class="form__group">
             <label for="inputName">{% trans %}Email{% endtrans %}</label>
            {{ form_widget(formContact.email, { 'attr' : { 'class' : 'form__control'}}) }}
        </div>

        {{ form_errors(formContact.subject) }}
        <div class="form__group">
            <label for="inputName">{% trans %}Sujet{% endtrans %}</label>
            {{ form_widget(formContact.subject, { 'attr' : { 'class' : 'form__control'}}) }}
        </div>

        {{ form_errors(formContact.message) }}
        <div class="form__group">
            <label for="inputName">{% trans %}Message{% endtrans %}</label>
            {{ form_widget(formContact.message, { 'attr' : { 'class' : 'form__control'}}) }}
        </div>

        {{ form_rest(formContact) }}

        <button class="btn__submit btn__text"> {% trans %}Envoyer {% endtrans %}</button>

    {{ form_end(formContact) }}

{% endblock %}