{% extends 'base.html.twig' %}

{% block title 'Contactez-nous' %}

{% block body %}
<div class="auth__container">

    {% if not formContact.vars.valid %}
    <div class='alert alert-danger' duration="6">
        Le formulaire contient une erreur !
    </div>
    {% endif %}
    <h1>Contactez-nous</h1>
    {{ form_errors(formContact.pseudo) }}
    <div class="form__group">
        <label for="inputName">Pseudo</label>
        {{ form_widget(formContact.pseudo, { 'attr' : { 'class' : 'form__control'}}) }}
    </div>

    {{ form_errors(formContact.email) }}
    <div class="form__group">
        <label for="inputName">Email</label>
        {{ form_widget(formContact.email, { 'attr' : { 'class' : 'form__control'}}) }}
    </div>

    {{ form_errors(formContact.subject) }}
    <div class="form__group">
        <label for="inputName">Sujet</label>
        {{ form_widget(formContact.subject, { 'attr' : { 'class' : 'form__control'}}) }}
    </div>

    {{ form_errors(formContact.message) }}
    <div class="form__group">
        <label for="inputName">Message</label>
        {{ form_widget(formContact.message, { 'attr' : { 'class' : 'form__control'}}) }}
    </div>

    {{ form_rest(formContact) }}

    <button class="btn__submit btn__text"> Envoyer </button>

