
{% extends 'base.html.twig' %}

{% block title %}Contactez-nous{% endblock %}

{% block body %}
<div class="form__container">
    {% if not form.vars.valid %}
    <alert-message duration="6">
        {{ form_errors(form) }}
    </alert-message>
    {% endif %}
    {{ form_start(form, { 'attr' : { 'class' : 'form'} })}}
    <div class="form__group">
        <label for="inputSujet">Sujet</label>
        {{ form_widget(form.subject, {attr : {class : 'form__control'}}) }}
        {{ form_errors(form.subject) }}
    </div>
    <div class="form__group">
        <label for="inputMessage">Message</label>
        {{ form_widget(form.message, {attr : {class : 'form__control'}}) }}
        {{ form_errors(form.message) }}
    </div>
    <button class="btn__submit">Envoyer</button>
</div>
{{ form_end(form)}}
{% endblock %}
