{% extends "admin/base.html.twig" %}

{% block body %}
<div class="dashboard__title">
    {{ icon('location') }}
    Gestion des emplacements
</div>
<div class="dashboard__card">
    <div class="dashboard__card__top">
        {#<form class="dashboard__search form__search">
            <input type="text" name="q" placeholder="Rechercher un produit">
        </form>#}
        {{ form_start(form, { 'attr' : { 'class' : 'dashboard__search form__search'} })}}
        {{ form_end(form)}}
        <a href="{{ path('admin_emplacement_new') }}" class="btn">Ajouter un emplacement</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for emplacement in emplacements %}
            <tr>
                <td>{{ emplacement.id }}</td>
                <td>{{ emplacement.name }}</td>
                <td>
                    <div class="dashboard__actions">
                        <a href="{{ path('admin_emplacement_edit', {id: emplacement.id}) }}">{{ icon('edit')}}</a>
                        <form method="POST" action="{{ path('admin_emplacement_delete', {id: emplacement.id}) }}" onsubmit="return confirm('Etes-vous sur de supprimer cette emplacement ?')">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ emplacement.id) }}">
                            <button>{{ icon('trash')}}</button>
                        </form>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ knp_pagination_render(emplacements) }}
</div>

{% endblock %}