{% extends "admin/base.html.twig" %}

{% block body %}
<div class="dashboard__title">
    {{ icon('location') }}
    {% trans %}Gestion des emplacements{% endtrans %}
</div>
<div class="dashboard__card">
    <div class="dashboard__header">
        {#<form class="dashboard__search form__search">
            <input type="text" name="q" placeholder="Rechercher un produit">
        </form>#}
        {{ form_start(form, { 'attr' : { 'class' : 'dashboard__search form__search'} })}}
        {{ form_end(form)}}
        <a href="{{ path('admin_emplacement_new') }}" class="btn">{% trans %}Ajouter un emplacement{% endtrans %}</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>{% trans %}Id{% endtrans %}</th>
                <th>{% trans %}Nom{% endtrans %}</th>
                <th>{% trans %}Auteur{% endtrans %}</th>
                <th>{% trans %}Date de creation{% endtrans %}</th>
                <th>{% trans %}Date de modification{% endtrans %}</th>
                <th>{% trans %}Actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
            {% for emplacement in emplacements %}
            <tr>
                <td><a href="{{ path('admin_emplacement_edit', {id: emplacement.id}) }}">{{ emplacement.id }}</a></td>
                <td><a href="{{ path('admin_emplacement_edit', {id: emplacement.id}) }}">{{ emplacement.name }}</a></td>
                <td>{{ emplacement.author.email }}</td>
                <td>{{ emplacement.createdAt | date('d F Y') }}</td>
                <td>{{ emplacement.updatedAt | date('d F Y H:i') }}</td>
                <td>
                    <div class="dashboard__actions">
                        <a href="{{ path('admin_emplacement_edit', {id: emplacement.id}) }}">{{ icon('edit')}}</a>
                        <form method="POST" action="{{ path('admin_emplacement_delete', {id: emplacement.id}) }}" onsubmit="return confirm({% trans %}'Etes-vous sur de supprimer cette emplacement ?'{% endtrans %})">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ emplacement.id) }}">
                            <button>{{ icon('trash')}}</button>
                        </form>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ knp_pagination_render(emplacements) }}
</div>

{% endblock %}