<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Fresh Food{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500,700|Roboto:300,400&display=swap" rel="stylesheet">
    {% block stylesheets %}{{ encore_entry_link_tags('app') }}{% endblock %}
</head>

<body>
    {% for label, messages in app.flashes %} 
        {% for message in messages %}
        <div class="{{ label }}">
            {{ message }}
        </div>
        {% endfor %} 
    {% endfor %} 
        <nav class="nav">
            <a href="#"><img src="" class="nav__logo" alt=""></a>
            <ul class="nav__menu">
                <li><a href="#">Mes Achats</a></li>
                <li><a href="#">Ajouter</a></li>
                <li><a href="{{ path('app_product_index')}}" class="{% if 'current_menu' == 'home' %}active{% endif %}">Mes produits</a></li>
                <li><button class="nav__btn">Contact</button></li>
                <li><button class="nav__btn">Connexion</button></li>
            </ul>
            <button class="nav__burger">
                <span></span>
            </button>
        </nav>
    {% block body %}
    {% endblock %} 
    {% block javascripts %}{{ encore_entry_script_tags('app')}}{% endblock %}
</body>

</html>