<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Fresh Food{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500,700|Roboto:300,400&display=swap"
        rel="stylesheet">
    {% block stylesheets %}{{ encore_entry_link_tags('app') }}{% endblock %}
</head>

<nav>
    <ul class="nav">
        {% if app.user %}
        <ul class="nav__menu">
            <li class="nav__home {{ app.request.get('_route') == 'home' ? 'active' }}">
                <a href="{{ path('home') }}" title="Accueil">{{ icon('home') }}</a>
            </li>
            {% if is_granted('ROLE_ADMIN') %}
            <li><a href="{{ path('admin_home') }}">{{ icon('admin') }} Admin</a></li>
            {% endif %}
            <li><a href="#">{{ icon('shopping-cart') }} Mes Achats</a></li>
            <li class="{{ app.request.get('_route') == 'product_index' ? 'active' }}">
                <a href="{{ path('product_index')}}">{{ icon('bags') }} Mes produits</a>
            </li>
            <li><a href="#">{{ icon('contact') }} Contact</a></li>
        </ul>
        {% else %}
        {% endif %}
        {% if app.user %}
        <ul class="nav__side">
            <li class="nav__search"><a href="#">{{ icon('search') }}</a></li>
            <li class="nav__account"><a
                    href="{{ path('security_logout') }}">{{ icon('door') }}{{ app.user.pseudo }}</a></li>
        </ul>
        {% else %}
        <ul class="nav__side">
            <li class="nav__search">
                <a href="#">{{ icon('search') }}</a>
            </li>
            <li class="nav__account {{ app.request.get('_route') == 'security_login' ? 'active' }}"><a
                    href="{{ path('security_login') }}">{{ icon('user') }} Se connecter</a>
            </li>
            <li class="nav__account {{ app.request.password('_route') == 'app_forgotten_password' ? 'active' }}"><a
                        href="{{ path('security_login') }}">{{ icon('password') }} Mot de passe oublié?</a>
            </li>

        </ul>
        {% endif %}
    </ul>
 </nav>


        {% if app.user %}
        <button class="nav__burger">
            <span></span>
        </button>
        {% else %}
        {% endif %}
    

    {# {% block body %} #}
    
    {#<div class="container">
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('admin_index') }}">Accéder à l'administration</a>
        {% endif %}
        {% if is_granted('ROLE_USER') %}
            
        {% endif %}
    </div>#}
    {# {% endblock %} #}

    <div class="container">
        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <alert-message type="{{ type }}">
                    {{ message }}
                </alert-message>
            {% endfor %}
        {% endfor %}
        
        {% block body %}
        {% endblock %} 
    </div>
    {% block javascripts %}{{ encore_entry_script_tags('app')}}{% endblock %}
</body>

</html>