{% extends "base.html.twig" %}

{% block body %}
    {{ form_start(form, {attr : {class : 'form_card' }} ) }}

    <h1 class="form_card_h1">
        <span class='span_h1'>Changez votre mot de passe</span>
    </h1>

    
    <div class="form_card_div">
        <label for="inputPassword" class="form_card_label">Mot de passe</label>
        {{ form_widget(form.password, { 'attr' : { 'class' : 'form_card_input'} } ) }}
        {{ form_errors(form.password) }}
    </div>

    <div class="form_card_div">
        <label for="inputPassword" class="form_card_label">Confirmez votre mot de passe</label>
        {{ form_widget(form.confirm_password, { 'attr' : { 'class' : 'form_card_input'} } ) }}
        {{ form_errors(form.confirm_password) }}
    </div>

    <div class="form__btn">
        <button type="submit" class="btn__submit">Modifier le mot de passe</button>
        <a href="{{ path('user_user_edit') }}">Retour</a>
    </div>
    {{ form_end(form)}}
{% endblock body %}