{% extends "admin/base.html.twig" %}

{% block body %}
<div class="dashboard__title">
    {{ icon('bags') }}
    Gestion des produits
</div>
<div class="dashboard__card">
    <div class="dashboard__card__top">
        {#<form class="dashboard__search form__search">
            <input type="text" name="q" placeholder="Rechercher un produit">
        </form>#}
        {{ form_start(form, { 'attr' : { 'class' : 'dashboard__search form__search'} })}}
        {{ form_end(form)}}
        <a href="{{ path('admin_product_new')}}" class="btn">Ajouter un produit</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Auteur</th>
                <th>Date de création</th>
                <th>Date de modification</th>
                <th>Etat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>
                    {{ product.name }}
                    
                </td>
                <td>{{ product.author.email }}</td>
                <td>{{ product.createdAt | date('d F Y') }}</td>
                <td>{{ product.updatedAt | date('d F Y H:i') }}</td>
                <td>{% if product.expirationDate | date('d F Y') < "now" | date('d F Y') %}
                        <span class="notification__perimer">Cet aliment est périmé</span>
                    {% elseif product.bestBeforeDate | date('d F Y') < "now" | date('d F Y') %}
                        <span class="notification__perimer">Cet aliment est périmé</span>
                    {% endif %}</td>
                <td>
                    <div class="dashboard__actions">
                        <a href="#">{{ icon('eye') }}</a>
                        <a href="{{ path('admin_product_edit', {id: product.id}) }}">{{ icon('edit')}}</a>
                        <form method="POST" action="{{ path('admin_product_delete', {id: product.id}) }}" onsubmit="return confirm('Etes-vous sur de supprimer ce produit ?')">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product.id) }}">
                            <button>{{ icon('trash')}}</button>
                        </form>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ knp_pagination_render(products) }}
</div>

{% endblock %}