{% extends 'base.html.twig' %}

{% block body %}
{% for label, messages in app.flashes %}
{% for message in messages %}
<div class="{{ label }}">
    {{ message }}
</div>
{% endfor %}
{% endfor %}
<article class='account__card'>
    <header class='account__header'>
        <div class='acconut__picture'>
            {% if user.image is null %}
            <img src="/images/user/default/user.png" alt="image" class='account__header__img'>
            {% else %}
            <img src="{{ asset(user.image.webPath) }}" alt="{{ user.image.alt }}" class='account__header__img'>
            {% endif %}
            {#<a href=" {{ path('user_image') }}"><i class="fas fa-camera-retro"></i></a>#}
        </div>
    </header>
    <div class="account__body">
        <h2>{{ user.pseudo |truncate }}</h2>
        <p>{{ user.email }}</p>
        <p>Créer le : {{ user.createdAt | format_datetime('long','none', locale='fr')}}</p>
        {% if user.updatedAt is not null %}
        <p>Modifier le : {{ user.updatedAt | format_datetime('long','none', locale='fr')}}</p>
        {% endif %}
        <div class="account__actions">
            <a href=" {{ path('user_image') }}">{{ icon('picture') }}Photo de profil</a>
            <a href="{{ path('user_user_edit') }}"> {{ icon('edit') }} Modifier </a>
            <form method="POST" action="{{ path('user_user_delete') }}"
                onsubmit="return confirm('Etes-vous sur de vouloir supprimer votre compte ?')">
                <input type="hidden" name="_method" value="DELETE">
                <input type="hidden" name="_token" value="{{ csrf_token('delete') }}">
                <button>{{ icon('trash') }}Supprimer</button>
            </form>
        </div>
    </div>
</article>
{% endblock %}